.content-one {
    padding-left: 2rem;
    font-size: 20px;
}

*{
    font-size: 18px;
}

.content-body{
    padding-left: 1rem;
    font-style: italic;
    color: cadetblue;
    margin-bottom: 2%;
}

.content-title{
    font-size: 20px;
}

