

::placeholder{
    font-size: 18px;
}

.btn-submit {
    margin-top: 5%;
    margin-bottom: 10px;
    width: 30%;
    background-color: chartreuse;
    text-align: center;
}

.btn-submit:hover{
    background-color:#CCFFFF;
}

.background-image{
    background-image: url("../image/backgound/Background-cay-xanh-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* radio input */

.radio-button input[type="radio"] {
    display: none;
}      
.radio-button label {
    display: inline-block;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
}      
.radio-button input[type="radio"]:checked+label {
    background-color: chartreuse;
}
