*{
    font-size: 18px;
    color: black;
}

.btn-lg {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    background-color: #CCFFFF;
    text-align: center;
}

.btn-lg:hover{
    background-color: #70c745;
}

input:hover{
    border: 0 orange;
}

.background-image{
    background-image: url("../image/backgound/Background-cay-xanh-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
  