header {
  padding: 12px;
  background-color: rgb(77, 218, 86);
  color: black;
}

.menu {}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  color: aliceblue;
  display: inline-block;
  font-size: 20px;
  margin-left: 24px;
}

.a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 0);
  font-weight: bold;
}